@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

:root{
    --color-bg: rgba(193, 191, 191, 0.361);
    --color-comp: rgb(11, 133, 174);
    --color-text: black;
    --color-text2:rgb(211, 211, 211);   /* light gray */
    --color-text3:rgb(255, 255, 204);  /* Light yellow*/
    --color-text4:rgb(224, 255, 255); /* Light cyan */
    --color-text5:rgb(255, 182, 193); /* Light Pink  */

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--color-bg);
    color: var(----color-text);
}


#section{
    margin-top: 8rem;
}



/* .container{
    width: var()
} */

.btn-black{
    background: #121826;
    /* background: #1a202c; */
    padding: 1.5rem;
    color: white;
    border-radius: .5rem;
}

.btn{
    background: #121826;
    padding: 1.5rem;
    color: white;
    border-radius: .8rem;
}

#header, #about, #services, #experience, #contact{
    margin-top: 9rem;
}



/* ------ GENERAL STYLES ----------*/
/* .container{
    width: var(--container-width-lg);
    margin: 0 auto;
} */

@media screen and (max-width: 1024px){
    /* .container{
        width: var(--container-width-md);
    } */
}

@media screen and (max-width: 600px){
    /* .container{
        width: var(--container-widht-sm);
    } */
}